<% modal ||= false %>
<% remote = modal ? true : false %>

<div id="modalform" class="modal hide fade">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Create</h3>
  </div>

  <div class="modal-body">
    <%= form_for @training, remote:remote  do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= yield(:training_validators) %>

        <%= f.label :date, '日付'%>
        <%= f.text_field :date, value:selectDateValue %>

        <%= f.label :training_detail, '練習内容' %>
        <%= f.text_field :training_detail, value:selectTitleValue %>

        <%= f.label :condition, 'コンディション' %>
        <%= f.text_field :condition, value:conditionData %>

        <%= f.label :running_distance, '走行距離' %>
        <%= f.number_field :running_distance, value:distanceData %>

        </br>

        <%= f.submit '作成', class: 'btn btn-large btn-primary' %>
    <% end %>
  </div>

</div>